body {
	background-color: black;
	color: white;
	font-family: Arial, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }
  
  .container1 {
	max-width: 350px;
  }
  
  input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	background-color: white;
	
  }
  
  button {
	padding: 10px 20px;
	background-color: rgb(224, 83, 83);
	color: white;
	border: 2px solid white;
	border-radius: 13px;
  }
  
  button:hover {
	background-color: white;
	color: rgb(208, 4, 4);
	border: 2px solid white;
	border-radius: 13px;
  }
  
  /* animation */
  
  body {
	background-color: #af2829;
	padding: 0;
	margin: 0;
  }
  
  .container {
	height: 400px;
	width: 400px;
	background-color: #af2829;
	-webkit-box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -6;
	opacity: 0.9;
	align-items: center;
	justify-content: center;
  }
  
  svg {
	position: relative;
	border-radius: 8px;
  }
  
  .heart {
	-webkit-animation: heartBeat 1s infinite;
	animation: heartBeat 1s infinite;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
  }
  
  @-webkit-keyframes heartBeat {
	50% {
	  -webkit-transform: scale(0.7);
	  transform: scale(0.7);
	}
  }
  
  @keyframes heartBeat {
	50% {
	  -webkit-transform: scale(0.7);
	  transform: scale(0.7);
	}
  }
  
  .heart1 {
	-webkit-animation: sizeUp 2s 0.5s infinite forwards;
	animation: sizeUp 2s 0.5s infinite forwards;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
  }
  
  .heart2 {
	-webkit-animation: sizeUp 2s 1s infinite forwards;
	animation: sizeUp 2s 1s infinite forwards;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
  }
  
  .heart3 {
	-webkit-animation: sizeUp 2s 1.5s infinite forwards;
	animation: sizeUp 2s 1.5s infinite forwards;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
  }
  
  @-webkit-keyframes sizeUp {
	60% {
	  -webkit-transform: scale(13);
	  transform: scale(13);
	}
  
	61% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }
  
  @keyframes sizeUp {
	60% {
	  -webkit-transform: scale(13);
	  transform: scale(13);
	}
  
	61% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }
  
  
  /*
   @media screen and (min-width: 451px) {
	a{
	  font-size: 20px;
	   padding:8px 12px 8px 12px;
	}
  }
  
   @media screen and (max-width: 450px) {
	
  } */